---
title: Slot No.88 JackpotQueens Message Protocols

language_tabs: # must be one of https://git.io/vQNgJ
  - json

toc_footers:
  - <a href='mailto:alansynn@flysher.net'>Documented by Alan Synn</a>
  - Rev 2.1

includes:
  - slot

search: false
print: false
---

# Slot No.88 JackpotQueens 메시지 프로토콜 소개 문서

### Rev 2.1
이하 호출 프로토콜에서 기본으로 필요한 `SIG_SLOT protocol`은 설명에서 제외.

## 수정내역
### Rev 1.0
2019-07-19 18:00 

+ 기본 스핀

### Rev 2.0
2019-07-30 16:00

+ 피쳐들 추가
+ 변경 플로우 반영

### Ref 2.1
2019-08-29 18:00

+ 동기화 플로우 변경사항 반영
  + 잭팟 보너스 게임 팝업 전 스텝
  + 보너스 게임 팝업 전 스텝

<%= partial "./initialize.md.erb" %>
<%= partial "./features/features.md.erb" %>
<%= partial "./sync.md.erb" %>  

# Protocols

<aside class="notice">
프로토콜 문서
</aside>

<%= partial "./protocol.md.erb" %>
