## Bonus Game
`Rev2.0 변경사항` : 현 Bonus Game은 기획서의 EachWin Wheel을 의미, 보너스게임 진행 후 프리스핀 진행

> Request

```javascript
// Define Signal From parSheet
var SIG.BONUS_GAME = this.parSheet.actions.bonusGame;

// Signal Handler on Client side
RockN.NET.request( 'connector.gameHandler.request', {
        protocol: SIG.SIG_SLOT_CUSTOM_ACTION,
        action: SIG.BONUS_GAME,
        playerID: RockN.Player.playerID,
    }, func..
```

> Response

```json
{
    "protocol":120,
    "action":1,
    "code":200,
    "eachWin":165,
    "eachWinWheelIdx":1,
    "rand":5,
    "randIds":[54],
    "freeSpinCount":3
}
```

> Error Response

```json
{
    "protocol":120,
    "action":1,
    "code":500
}
```

### Sequence Diagram
<div class="mermaid">
    sequenceDiagram
        participant C as Client
        participant S as Server
        C ->>S: Bonus Game Request
        S -->>C: json(Response)
</div>

### Response Parameters

Rev | Parameter | Default | Description
--------- | --------- | ------- | -----------
1|protocol | int(120) | SIG_SLOT_CUSTOM_ACTION
1|action | int(1) | customAction 인덱스
1|code | int(200) | 서버 OK 리스폰스 넘버
1|eachWin | int(0-max) | 획득한 EachWin 값
2.1|eachWinWheelIdx | int(0-3) | 이번에 돌린 eachWinWheel의 strip 인덱스
1|rand | int(0-스트립길이) | 랜드값
1|randIds | int(symId) Array(1) | 랜드한 심볼 아이디
2.1|freeSpinCount | int(3) | 프리스핀 카운트

### Deprecated Response Parameters

Rev | from | to | Default | Description | Detail
--------- | --------- | ------- | ----------- | ------- | -------
2.1|initFreeSpinCount | freeSpinCount | int(3) | 시작한(현재 남은) 프리스핀 카운트 | 시작한 프리스핀 카운트라는 이름이 의미가 없어짐
